.form-control, .form-select {
	border: 1px solid #D9D9D9;
	border-radius: 8px;
}

input[type=text], input[type=number] {
	max-width: 100%;
	width: 100%;
	background-color: #F6F6F6;
	border: 1px solid #D2D2D2;
	border-radius: 7px;
	height: 44px;
	@include responsive(575) {
		height: 34px;
	}
}
